body {
    font-family: 'Roboto Mono', monospace;
    color: #003cad;
}
/* azul 003cad
rosa ff6c9f */

h1 {
    font-size: 52px;
    font-weight: bold;
    color: #ff6c9f;
    margin-bottom: 30px;
}

h2 {
     font-size: 32px;
     font-weight: bold;
     margin-bottom: 20px;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    color: #ff6c9f;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 22px;
    color: #ff6c9f;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    margin-bottom: 2%;
}

a {
    text-decoration: none;
    color: #003cad;
}

a:hover {
    color: #ff6c9f;
}

section {
    min-height: 100vh;
    align-items: center;
    display: flex;
}


button {
    border: none;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #ff6c9f;
    border-radius: 20px;
    margin-top: 2%;
}

button:hover {
    border: none;
    color: #ffffff;
    background-color: #003cad;
}

.container {
    width: 94%;
	margin: 0 auto;
}


/* Menu */


.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: white;
    width: 94%;
    padding-top: 3%;
    padding-bottom: 1%;
    transition: all 0.5s ease;
}

.menu.active{
   
}

.headerMenu {
    display: flex;
    align-items: center;
}

.tituloMenu{
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
}

.listaMenu {
    display: flex;
    text-decoration: none;
}

.listaMenuItem {
    padding: 10px;
    text-decoration: none;
}

.email {
    font-weight: bold;
}

/* Scroll */

.scrol{
    height: 100px;
}


/* Header  */

.encabezadoDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linksEncabezado {
    display: flex;
    align-items: center; 
}

.linksEncabezadoItem {
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}

.redes {
    width: 60px;
}


.descarga {
    margin-top: 5%;
}

.botonCV {
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #ff6c9f;
    border-radius: 20px;
}

.botonCV:hover {
    color: #ffffff;
    background-color: #003cad;
}

.imagenEncabezado {
    width: auto;
    height: 300px;
    align-items: center;
}

/* Sobre Mi */

.sobreMi {
    background-color: #fbeff7;
}

.containerSobreMi {
    display: flex;
}

.textoSobreMi {
    margin-right: 2%;
}

.imgSobreMi {
    width: auto;
    height: 200px;
}

/* Skills y Hobbies */

.skills {
    flex-direction: column;
    align-items: center;
    
    padding-top: 5%;
    padding-bottom: 5%;
    padding-top: 10%;
}

.tituloSkills {
    text-align: center;
}

.skillsBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
	background-color: whitesmoke;
    border-radius: 20px;
	text-align: center;
	margin: 1%;
	transition: .5s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
    margin-bottom: 6%;
}

.ulSkills {
    
    align-items: center;
}

.lenguajes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.herramientas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hobbies {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Formacion */

.formacion {
    background-color: #fbeff7;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

.cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: center;
}

.cursosBox {
    display: flex;
    width: 30%;
    justify-content: space-between;
    
}

.cursosLista {
    width: 268px;
    margin-bottom: 5%;
}


.cursosItemImagen {
    width: 268px;
    height: 186px;
	background-color: white;
    border-radius: 20px;
	text-align: center;
	margin: 1%;
	transition: .5s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
    margin-bottom: 6%;
    display:flex;
    justify-content: center;
    align-items: center;
   
    
}

.imagenCurso {
    width: 80%;
    height: auto;
}

/* Proyectos */

.proyectos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

.experiencie__box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
}

.experience__img {
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.experience__info {
    width: 40%;
    padding: 2%;
}

.iconosProyecto {
    margin-top: 4%;
    margin-bottom: 2%;
}

.iconPr {
    width: 60px;
}
/* Contacto */

.contacto {
    background-color: #fbeff7;
    align-items: center;
    justify-content: center;
}

.formularioContacto {
    display: flex;
    align-items: center;
}

.formularioImagenItem {
    width: 464px;
    height: auto;
}

.formcontato__text {
    margin-right: 2%;
}

.formcontato__input {
    margin-bottom: 2%;
}

.formcontato__textarea {
    margin-bottom: 2%;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
}

/* Rodapie */

.rodapie {
    margin-top: 20px;
    text-align: center;
    color: #ff6c9f;
    font-weight: bold;
}